@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&family=Wallpoet&display=swap');

/*variables*/
:root{
    --mainColor:#f4f4f4;
    --secondColor:#C12323;
    --thirdColor:#192126;

}

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.page-title{
    font-weight: bold;
    font-size: 14px;
}
/* Basic styles for the navigation bar */
body {
    font-family: "Faustina", serif;
    background-color:var(--mainColor);
}

/* .content{
    padding-bottom:60px;
} */

.form-control:focus{
    box-shadow:0 0 0 .1rem var(--secondColor);
    border:none;
}

.material-symbols-outlined{
    line-height: 1.5;
}

.btn:focus{
    box-shadow:none !important;
}

.blackIcon{
    color: var(--thirdColor);
}

.blackIcon:hover{
    color: var(--secondColor);
}

.redIcon{
    color: var(--secondColor);
}

.whiteIcon{
    font-weight: 200;
    color: var(--mainColor);
}

.redBtn{
    background-color: var(--secondColor);
    color:white !important;
    padding: 4px 12px;
    border:none;
}

.redBtn:hover,.redBtn:focus{
    background-color: var(--secondColor);
    opacity: 0.8;
    color:white !important;
}

.myBtn{
    border-radius: 12px ;
}

.navbar {
    padding:0;
    position: fixed;
    bottom: 0;
    height: 60px; /* Specific height for the navbar */
    width:100%;
    background-color: var(--thirdColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index:3;
}

.navtab.active {
    background-color: var(--secondColor);
}

.navtab:hover {
    background-color: var(--secondColor);
}

.navtab {
    flex: 1;
    text-align: center;
    height:60px;
}
.navtab a {
    font-family: "Faustina", serif;
    display: block;
    color:var(--mainColor);
    text-decoration: none;
    font-size: 12px; /* Adjust font size for mobile */
}

/* Style the active tab */
.active {
    background-color: var(--secondColor);
    color: white;
}

/*header*/
.header{
    height: 60px;
} 

.logo {
    font-family: "Wallpoet", sans-serif;
    font-weight: 500;
    font-size:24px;
    font-style: normal;
    letter-spacing: 5%;
}

.icons{
    line-height:1.5;
}

.pgtabs .btn{
    background-color: var(--thirdColor)!important;
    color:var(--mainColor);
    border:0px;
    border-radius: 12px;
    font-family: "Faustina", serif;
    font-size: 14px;
}

.pgtabs .active{
    background-color: var(--secondColor)!important;
}

.pgtabs{
    width:100%;
}

#report-tab .btn{
    font-size: 12px;
}

.report-filter a{
    font-size: 14px;
    font-weight:bolder;
    color:var(--secondColor);
}

.report-filter .material-symbols-outlined{
    font-size: 15px;
    vertical-align: top;

}

.report-label{
    font-size: 13px;
    font-weight:bolder;
    color: var(--thirdColor);
}

.report-value{
    font-size: 23px;
    font-weight: 700;
    color: var(--secondColor);
}

/* .equipmentCard{
    
} */
.searchBox{
    border-radius: 10px;
}

.equipmentCardImg{
    aspect-ratio: 1 / 1;
    border:#C12323 1px solid;
    border-radius: 10px;
}

.equipmentCardTxt{
    font-size: 13px;
    text-wrap: nowrap;
    padding: 8px 0 0 0;
    font-weight:bold;
    color: var(--secondColor);
}

.workoutHistoryDate{
    color:rgb(130, 129, 129);
    font-size: 11px;
}

.workoutHistoryTable{
    background-color: white;
}

.workoutHistoryTable td{
    font-size: 13px;
    padding:10px;
    padding-bottom: 0;
}

/*equipment categories*/
.equipment{
    border-radius: 15px;
    border:none;
}
.equipmentImg{
    aspect-ratio: 1/1;
}

.equipmentTag{
    font-size: 11px;
    padding: 0 8px;
    margin: 5px 0 8px 0!important;
}

.equipmentTag:hover, .equipmentTag:focus{
    background-color: none;
    border-color:var(--secondColor);
}
.equipmentTitle{
    font-size: 14px;
    font-weight:650;
}

.categoryCardImg{
    border-radius: 12px;
    max-height: 100%; 
    width: auto;
}

.category{
    border-radius: 15px;
    font-weight: bold;
    height:90px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background-image: linear-gradient(to right, rgb(152, 152, 152), rgb(255, 255, 255));
}

.categoryCardImg{
    z-index:-1;
}

.faustina{
    font-family: "Faustina", serif;
}

.custom-padding{
    padding:0;
    padding-left: 10px;
}

.no-padding{
    padding:0;
}