@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&family=Wallpoet&display=swap');

/*variables*/
:root{
    --mainColor:#F8F8F8;
    --secondColor:#C12323;
    --thirdColor:#192126;

}

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}
/* Basic styles for the navigation bar */
body {
    font-family: "Faustina", serif;
    background-color:var(--mainColor);
}

/* .content{
    padding-bottom:60px;
} */

.material-symbols-outlined{
    line-height: 1.5;
}

.blackIcon{
    color: var(--thirdColor);
}

.blackIcon:hover{
    color: var(--secondColor);
}

.redIcon{
    color: var(--secondColor);
}

.whiteIcon{
    font-weight: 200;
    color: var(--mainColor);
}

.navbar {
    padding:0;
    position: fixed;
    bottom: 0;
    height: 60px; /* Specific height for the navbar */
    width:100%;
    background-color: var(--thirdColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.navtab.active {
    background-color: var(--secondColor);
}

.navtab:hover {
    background-color: var(--secondColor);
}

.navtab {
    flex: 1;
    text-align: center;
    height:60px;
}
.navtab a {
    font-family: "Faustina", serif;
    display: block;
    color:var(--mainColor);
    text-decoration: none;
    font-size: 12px; /* Adjust font size for mobile */
}

/* Style the active tab */
.active {
    background-color: var(--secondColor);
    color: var(--mainColor);
}

/*header*/
.header{
    height: 60px;
} 

.logo {
    font-family: "Wallpoet", sans-serif;
    font-weight: 500;
    font-size:24px;
    font-style: normal;
    letter-spacing: 5%;
}

.icons{
    line-height:1.5;
}

.pgtabs .btn{
    background-color: var(--thirdColor);
    color:var(--mainColor);
    border-color: var(--thirdColor);
    border-radius: 12px;
    font-family: "Faustina", serif;
    font-size: 14px;
}

.pgtabs .btn-primary .active{
    background-color: var(--secondColor);
}

.pgtabs{
    width:100%;
}

#report-tab .btn{
    font-size: 12px;
}

.report-filter a{
    font-size: 14px;
    font-weight:bolder;
    color:var(--secondColor);
}

.report-filter .material-symbols-outlined{
    font-size: 15px;
    vertical-align: top;

}

.report-label{
    font-size: 13px;
    font-weight:bolder;
    color: var(--thirdColor);
}

.report-value{
    font-size: 26px;
    font-weight: 700;
    color: var(--secondColor);
}

.faustina{
    font-family: "Faustina", serif;
}

.custom-padding{
    padding:0;
    padding-left: 10px;
}

.no-padding{
    padding:0;
}